@tailwind base;

.button-click:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8), inset 0 2px 2px rgba(0, 0, 0, 0.439);
  transform: translate(2px, 2px);
}
.buttons {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.335);
  box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.35);
  transition: 0.2s;
}

.image-login {
  background-image: url("https://img.freepik.com/vetores-gratis/fundo-horizontal-de-construcao-com-caminhao-de-concreto-e-escavadeira-perto-de-ilustracao-plana-de-casa-inacabada_1284-29079.jpg?w=1480&t=st=1687174250~exp=1687174850~hmac=b48e200edc81f4de74f6835ee025b23f8d7e043a49e7ec266e5cc0bda73ed797");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #374137;
  border-radius: 50%;
}

* {
  box-sizing: border-box;
  overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
